venv/
__pycache__/
*.pyc
infra/.env.production
infra/db/*.db
infra/db/*.sqlite3
infra/db/activity_tracker.db

# Ignore infra directory and user data exported files
/infra/
/user_data/
!/infra/.env.production.example
