{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Team Portal</title>
    <!-- SB Admin 2 CSS -->
    <link href="{% static 'sbadmin2/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'sbadmin2/css/sb-admin-2.min.css' %}" rel="stylesheet">
</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'dashboard' %}">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-users"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Team Portal</div>
            </a>
            <hr class="sidebar-divider my-0">
            <li class="nav-item"><a class="nav-link" href="{% url 'dashboard' %}"><i class="fas fa-fw fa-tachometer-alt"></i><span>Dashboard</span></a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'team_list' %}"><i class="fas fa-fw fa-users"></i><span>Teams</span></a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'activity_list' %}"><i class="fas fa-fw fa-tasks"></i><span>Activities</span></a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'status_list' %}"><i class="fas fa-fw fa-flag"></i><span>Statuses</span></a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'node_list' %}"><i class="fas fa-fw fa-sitemap"></i><span>Nodes</span></a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'activitytype_list' %}"><i class="fas fa-fw fa-list"></i><span>Activity Types</span></a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'attributes_manage' %}"><i class="fas fa-fw fa-cogs"></i><span>Attributes</span></a></li>
            <hr class="sidebar-divider d-none d-md-block">
        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <ul class="navbar-nav ml-auto">
                        {% if user.is_authenticated %}
                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ user.username }}</span>
                                    <i class="fas fa-user-circle fa-lg"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                    <a class="dropdown-item" href="{# profile url #}"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> Profile</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Logout</a>
                                </div>
                            </li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                        {% endif %}
                    </ul>
                </nav>
                <!-- End of Topbar -->
                <div class="container-fluid">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top"><i class="fas fa-angle-up"></i></a>
    <!-- SB Admin 2 JS -->
    <script src="{% static 'sbadmin2/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'sbadmin2/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'sbadmin2/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'sbadmin2/js/sb-admin-2.min.js' %}"></script>
</body>
</html>
